body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #0f0f0f;
    color: white;
    text-align: center;
}

/* ENCABEZADOS */
h1 {
    color: gold;
    margin-top: 30px;
}

h2, h3 {
    color: #f5d742;
}

/* LINKS */
a {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: gold;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

a:hover {
    background-color: #f5d742;
}

/* BOTONES */
button {
    padding: 10px 18px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background-color: gold;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #f5d742;
}

/* TARJETAS DE PRODUCTOS */
div {
    background-color: #1c1c1c;
    margin: 20px auto;
    padding: 15px;
    width: 250px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255,215,0,0.3);
}
/* ===== GRID DE PRODUCTOS ===== */

.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 30px;
}

/* ===== TARJETA PERFUME ===== */

.card {
    background: #111;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 15px rgba(255, 204, 0, 0.2);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(255, 204, 0, 0.5);
}

.card h3 {
    color: #ffcc00;
    margin-bottom: 10px;
}

.precio {
    font-size: 20px;
    margin: 10px 0;
    font-weight: bold;
}

.btn-agregar {
    background: #ffcc00;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}

.btn-agregar:hover {
    background: #ffd633;
}
