/* ===== GENERAL ===== */
body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background:#0a0a0a;
    color:white;
    text-align:center;
}

/* ===== NAVBAR ===== */
.navbar{
    background:black;
    padding:20px;
    border-bottom:2px solid gold;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:gold;
    font-size:22px;
    font-weight:bold;
}

.menu a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

.menu a:hover{
    color:gold;
}

/* ===== CONTENEDOR ===== */
.container{
    max-width:1100px;
    margin:auto;
    padding:40px 20px;
}

/* ===== TITULOS ===== */
h1{
    color:gold;
}

/* ===== BOTONES ===== */
button,a{
    background:gold;
    color:black;
    padding:12px 22px;
    border-radius:8px;
    border:none;
    font-weight:bold;
    text-decoration:none;
    cursor:pointer;
}

button:hover,a:hover{
    background:#ffd700;
}

/* ===== GRID PRODUCTOS ===== */
.productos{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:40px;
    margin-top:40px;
}

/* ===== CARD ===== */
.card{
    background:#111;
    padding:25px;
    border-radius:20px;
    box-shadow:0 0 25px rgba(255,215,0,0.3);
}

.precio{
    font-size:20px;
    margin:15px 0;
}

/* ===== QR ===== */
img{
    border-radius:15px;
    box-shadow:0 0 20px rgba(255,215,0,0.5);
}
