body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #0f0f0f;
    color: white;
    text-align: center;
}

/* ENCABEZADOS */
h1 {
    color: gold;
    margin-top: 30px;
}

h2, h3 {
    color: #f5d742;
}

/* LINKS */
a {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    background-color: gold;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

a:hover {
    background-color: #f5d742;
}

/* BOTONES */
button {
    padding: 10px 18px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    background-color: gold;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #f5d742;
}

/* TARJETAS DE PRODUCTOS */
div {
    background-color: #1c1c1c;
    margin: 20px auto;
    padding: 15px;
    width: 250px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(255,215,0,0.3);
}
